<div class="container" style="min-width: 100%; min-height: 100vh;">
    <div class="row justify-content-center align-items-center slider">
        <div class="col-lg-6 col-md-10">

            <!-- for loop, applies following html code for each item in stepsArr -->
            @for(step of stepsArr; track step.currentStep){
            <div>
                <div class="card shadow mx-3 my-4" id="card-{{step.currentStep}}" style="border: none; height: 70vh;">
                    <div class="card-body no-padding">
                        <div class="img-wrapper rounded-top" [style.background-color]="step.bgColor">
                            <img [src]="step.img" class="card-img-top">
                        </div>
                        <h3 class="card-title my-4 mx-4" style="font-size: 20px; font-weight: bold;">
                            {{step.title}}
                        </h3>
                        <p class="card-text mx-4">{{step.description}}</p>

                        <!-- position indicator -->
                        <div style="position: absolute; display: flex; bottom: 5%; left: 25px; gap: 5px;">
                            <div>
                                <button [class.active]="step.currentStep===0" class="dots" type="button"> </button>
                                <button [class.active]="step.currentStep===1" class="dots" type="button"> </button>
                                <button [class.active]="step.currentStep===2" class="dots" type="button"> </button>
                            </div>
                        </div>

                        <!-- carousel controls -->
                        <div class="nButtons" style="position: absolute; bottom: 3%; right: 5%;">
                            @if(step.currentStep !== 0) {
                            <button class="btn btn-white prev-button mx-2 border-black" style="border-radius: 60%;"
                                type="button" data-bs-target="#cardCarouselControls" data-bs-slide="prev">
                                ←
                            </button>
                            }
                            @if(step.currentStep!==2) {
                            <button class="btn btn-dark next-button" style="border-radius: 50%;" type="button"
                                data-bs-target="#cardCarouselControls" data-bs-slide="next">
                                →
                            </button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <button id="next">→</button>
            <button id="prev">←</button>
            }
        </div>
    </div>
</div>